.container .header_distributed{
  /* defines placement of the header on the main grid */
  grid-area: 1 / 1 / 1 / 5;

  /* Creates a sub-grid in the header */
  display: grid;
  /* Breaking the header into five columns */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* Breaking the header into one row */
  grid-template-rows: 1fr 1fr 1fr;
  z-index: 5;
}

.header_distributed .logo_rose{
  align-self: start;
  margin: 1rem;
  /*margin-bottom: 15px;*/
  max-width: 300%;
  height: auto;
  /* Place the logo in the first column of the only row in the header grid */
  grid-area: 1 / 1 / 1 / 1;
  /*transform: skew(0deg);*/
}

.header_distributed .gallery, .about{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #274042;
  max-width: 300%;
  height: auto;
  transform: skew(0deg);
  align-self: center;
  text-decoration: none;
}

.header_distributed .gallery{
  /* Place Gallery link in fourth column of the only row in the header grid */
  grid-area: 1 / 4 / 1 / 4;
  align-self: start;
  padding-top: 3vh;
}

.header_distributed .about{
  /* Place About link in fourth column of the only row in the header grid */
  grid-area: 1 / 5 / 1 / 5;
  align-self: start;
  padding-top: 3vh;
}
