.header_distributed{
  /* Place header on the .container .sections_about 3X4 grid */
  grid-area: 1 / 1 / 1 / 5;
  /* Create sub-grid for placement of header elements */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /* Force header to be 'in front' of everything else */
  z-index: 5;
}

.logo_rose{
  /* Place header logo on the container .header_distributed 3X5 grid */
  grid-area: 1 / 1 / 1 / 1;
  align-self: start;
  margin: 1rem;
  max-width: 300%;
  /*height: auto;*/
  width:7rem;
}

.gallery, .about{
/*  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #274042; */
  max-width: 300%;
  height: auto;
/*  transform: skew(0deg); */
  align-self: start;
/*  text-decoration: none; */
  padding: 2rem 3rem;
}

.gallery h6 {
  color: white;
  font-weight: 400;
}

.about h6{
  color: #274042;
  font-weight: 400;
  text-decoration: underline;
}

.gallery{
  /* Place Gallery link in fourth column of the only row in the header grid */
  grid-area: 1 / 4 / 1 / 4;
  justify-self: end;
}

.about{
  /* Place About link in fourth column of the only row in the header grid */
  grid-area: 1 / 5 / 1 / 5;
  justify-self: start;
}
