.header_distributed{
  grid-area: 1 / 1 / 1 / 5;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  z-index: 5;
}

.logo_rose{
  grid-area: 1 / 2 / 1 / 2;
  padding: 1rem;
}

.gallery, .about{
  max-width: 300%;
  height: auto;
  align-self: start;
  padding: 2rem 3rem 0rem 0rem;
}

a {
  font-size: 2rem;
  color: #274042;
  padding: 1rem 0rem;
  text-decoration: underline;
}

a:hover, a:active {
  color: #F7D1AC;
  transform: skew(-15deg);
}

@media (min-width: 700px){
  .gallery, .about{
    max-width: 300%;
    height: auto;
    align-self: start;
    padding: 2rem 5rem 0rem 0rem;
  }
}

.gallery{
  grid-area: 1 / 9 / 1 / 9;
  justify-self: right;
}

.about{
  grid-area: 1 / 10 / 1 / 10;
  justify-self: start;
}

.active{
  /* EF9179 para1
  558B91 para2
  F7D1AC para3  */

  color: #6600cc;
}
