
/* Perform Universal CSS reset*/
/** {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
    }*/

/* Set default font size */
html {
  font-size: 10px;
  color: #274042;
}

/* Set default body parameters */
body {
  background-color: #F1F8F9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #101A1B;
}

/* Set default paragraph parameters */
p {
  background-color: F1F8F9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #101A1B;
  font-size: 1.6rem;
  line-height: 1.3;
  margin-top: .5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  /*height: 50vh;*/
}

/* Set default h1 parameters */
h1 {
  font-size: 8rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1;
  margin: auto;
  color: #274042;
}

h1 span {
  font-weight: 700;
  color: #274042;
}

/* Set default h2 parameters */
h2 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 2rem;
  color: #274042;
}

/* Set default h3 parameters */
h3 {
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #274042;
  padding: 0 0 2rem 0;
}

.h3_reg {
  font-weight: 400;
}

/* Set default h4 parameters */
h4 {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #274042;
}

/* Set default h5 parameters */
h5 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  color: #274042;
}

/* Set default h6 parameters */
h6 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: auto;
  color: #274042;
}

/* Set default h7 parameters */
h7 {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  color: #274042;
}

h8 {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  color: #274042;
  text-align: center;
}
/* Set default italic quotes parameters */
.italic_quotes {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700i;
  margin-top: 2rem;
  color: #274042;
}

li {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif
  font-weight: 400;
  line-height: 1;
  margin: auto;
  color: #274042;
  padding-bottom: .7rem;
}

button {
  background-color: #F7B05B;
  border: none;
  color: #274042;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.circle {
  width: 50vh;
  height: 50vh;
  background: #F7D1AC;
  opacity: .3;
  border-radius: 50%
}

.circle2 {
  width: 15vh;
  height: 15vh;
  background: #F7D1AC;
  opacity: .9;
  border-radius: 50%;
}

/* ************************************************************************* */
/* main-distributed{} defines attributes that are applicable to the entire page */
/* ************************************************************************* */
.container{
  /* This grid may not be necessary */
  display: grid;
  /* Breaking the page into one column as there's no common column breakpoints between sections */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* Breaking the page into eight rows: a header, six sections & a footer */
  grid-template-rows: 1fr auto;
}

/* ----------------- ABOUT ME - GRID FOR MAIN SECTIONS --------------------- */

.container .sections_about{
  grid-area: 2 / 1 / 2 / 7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

/* -----------------------ABOUT PAGE HERO ---------------------------------*/

.container .sections_about .hero_about{
  grid-area: 1 / 1 / 1 / 5;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  min-height: 80vh;
  max-height: 80vh;
}

.hero_about .parallelogram {
/*  transform: skew(-15deg) translate(9vw);
  background-color: #F7D1AC; */
  height: 100%;
  width: 100%;
}

.hero_about .para4{
  transform: skew(-15deg) translate(-8vw);
  background-color: #91bdae;
  grid-area: 1 / 1 / 8 / 12;
  z-index: 1;
}

.hero_about .jordan_img1 {
  grid-area: 3 / 5 / 9 / 9;
  z-index: 2;
}

/* -----------------------ABOUT PAGE HERO ---------------------------------*/

.sections_about .content_about {
  /*grid-area: 2 / 1 / 2 / 3;
  padding: 2rem;*/
  max-width:700px;
  margin: auto;
  width: calc(100vw - 2rem);
  padding: 4rem 0 0 4rem;
}
/* ----------------- LANDING PAGE - GRID FOR MAIN SECTIONS ------------------ */

.container .sections_landing{
  grid-area: 2 / 1 / 2 / 7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

/* -----------------------LANDING PAGE HERO ---------------------------------*/

.container .sections_landing .hero{
  grid-area: 1 / 1 / 1 / 5;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  min-height: 98vh;
  max-height: 98vh;
}

.hero .hero_text_content{
  grid-area: 4 / 3 / 7 / 8;
  z-index: 4;
  color: #274042;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.hero .parallelogram {
/*  transform: skew(-15deg) translate(9vw);
  background-color: #F7D1AC; */
  height: 100%;
  width: 100%;
}

.hero .para1{
  transform: skew(-15deg) translate(0vw);
  background-color: #558B91;
  grid-area: 1 / 5 / 6 / 11;
  z-index: 1;
}

.hero .para2{
  transform: skew(-15deg) translate(-3vw);
  background-color: #EF9179;
  grid-area: 3 / 4 / 7 / 10;
  z-index: 2;
  /* align-self: end; */
}

.hero .para3{
  transform: skew(-15deg) translate(-4vw);
  background-color: #F7D1AC;
  grid-area: 4 / 3 / 8 / 9;
  z-index: 3;
  /* align-self: end; */
}

/*.hero_text_2 {
  transform: skew(0deg);
  grid-area: 5 / 3 / 6 / 6;
  margin: 0px;
  align-self: end;
  margin-left: 40px;
}

.hero_text {
  transform: skew(0deg);
  grid-area: 6 / 3 / 8 / 11;
  margin: 0px;
  align-self: start;
  margin-left: 40px;
}
*/

.hero_text_1 {
  /*transform: skew(0deg);
  grid-area: 7 / 3 / 9 / 10;
  margin: 0px;
  align-self: start;
  margin-left: 40px;
  */
  font-weight: 400;
  line-height: 5rem;
}

/*----------------------LANDING PAGE - featured work--------------------------*/

.container .sections_landing .featured_work_wrapper {
  background-color: #6AADB5;
  grid-area: 2 / 1 / 2 / 5;
}

.container .sections_landing .featured_work{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 1fr 20vh;
  max-width:1000px;
  margin: auto;
  /* padding: 3rem; */
}

.container .sections_landing .featured_work .featured_work_content {
  grid-area: 2 / 2 / 2 / 2;
  justify-self: center;
  align-self: center;
}

.featured_work .featured{
  grid-area: 1 / 1 / 1 / 3;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #F1F8F9;
  letter-spacing: .4rem;
}


/*.container .featured_work .case_study{
  grid-area: 8 / 8 / 8 / 11;
  max-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.featured_work .title {
  grid-area: 6 / 8 / 5 / 13;
  font-size: 7rem;
  align-self: end;
  margin: 0px;
  justify-self: left;
}

.featured_work .body_text {
  grid-area: 6 / 8 / 7 / 14;
  max-width: 400px;
  align-self: start;
}

.featured_work .roles {
  grid-area: 5 / 8 / 4 / 13;
  align-self: start;
  margin: 0px;
  align-self: end;
}*/

.featured_work .featured_img {
  grid-area: 2 / 1 / 2 / 1;
  justify-self: center;
  align-self: center;
  z-index: 2;
  transform: skew(0deg) translate(2vw);
  height: 70%;
}

.featured_work .para4 {
  transform: skew(-15deg) translate(8vw);
  background-color: #F7D1AC;
  height: 80%;
  width: 55%;
  grid-area: 2 / 1 / 2 / 1;
  align-self: center;
}


/*---------------------- LANDING PAGE -- About Me --------------------------*/
/*-------------------------------------------------------------------------*/

.container .sections_landing .about_me_wrapper {
  grid-area: 3 / 1 / 3 / 5;
  background-color: #99CFD6;
}

.container .sections_landing .about_me{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20vh auto 20vh;
  max-width: 1000px;
  margin: auto;
}

.container .sections_landing .about_me .about_me_content{
  grid-area: 2 / 2 / 2 / 7;
  align-self: center;
}

/*.about_me .title_1{
/*  grid-area: 2 / 2 / 2 / 7;
  font-size: 7rem;
  margin: 0px;
  align-self: top;
  justify-self: left;
} */

/* .about_me .content_1{
/*  grid-area: 2 / 2 / 2 / 7;
  max-width: 400px;
  align-self: center;
} */

.about_me .jordan_img {
  grid-area: 2 / 8 / 2 / 12;
  height: 100%;
  width: 100%;
/*  padding-top: 15vh;
  padding-bottom: 15vh; */
}

/*-------------------------------------------------------------------------*/

/*------ NAVIGATION -------*/
section.body_distributed {
  overflow-x: hidden;
  background-color: #F1F8F9;
}

section.About {
  background-color: #99CFD6;
  padding: 20rem 1rem;
}

section.recentwork {
  background-color: #6AADB5;
}

/*
@media screen and (min-width: 768px) {
  .container{
    width: 70rem;
  }
}

@media screen and (min-width: 1000px) {
  .container{
    width: 98rem;
  }
}*/

/* End of stuff that may be needed */
/* Starting page layouts here */
/* ************************************************************************* */
/* main-distributed{} defines attributes that are applicable to the entire page */

/* ************************************************************************* */
/* header-distributed{} defines attributes that are applicable to the page header */
/* ************************************************************************* */
/*.container .header_distributed{
  /* Place the header in the 1st row on the page */
  /*grid-area: 1 / 1 / 1 / 6;

  /* Create a sub-grid in the header */
  /*display: grid;
  /* Breaking the header into five columns */
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* Breaking the header into one row */
  /*grid-template-rows: 1fr;
}

/* Place the header logo in the first cell of the header grid */
/*.header_distributed .logo_rose{
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 300%;
  height: 80px;
  grid-area: 1 / 1 / 1 / 1;
  transform: skew(0deg);
  align-self: center;
}

/* Format the header navigation links */
/*.header_distributed .gallery, .about{
  font-family: 'Molengo', sans-serif;
  font-size: 30px;
  color: #274042;
  max-width: 300%;
  height: auto;
  transform: skew(0deg);
  align-self: center;
}

/* Place Gallery link in fourth column of the only row in the header grid */
/*.header_distributed .gallery{
  grid-area: 1 / 4 / 1 / 4;
}

/* Place About link in fourth column of the only row in the header grid */
/*.header_distributed .about{
  grid-area: 1 / 5 / 1 / 5;
}

/* ************************************************************************* */
/* End header-distributed{}                                                  */
/* ************************************************************************* */

/* ************************************************************************* */
/* Define attributes to apply to all case study sections                    */
/* ************************************************************************* */
.container .sections{
  grid-area: 1 / 1 / 2 / 7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.sections .intro_wrapper {
  grid-area: 1 / 1 / 1 / 13;
  background-color: #558B91;
}

/* grid templates for each section */
.container .sections .intro{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: auto auto auto auto auto;
  max-width: 900px;
  margin: auto;
  /*min-height: 150vh;
  max-height: 150vh;*/
  /*height: 170vh;
  width: 100vw;*/
}

.sections .intro .case_study_hero_img {
  grid-area: 4 / 1 / 4 / 8;
  align-self: center;
  justify-self: center;
  height: 60vh;
  width: auto;
  padding: 3rem 1rem 0 1rem;
}

.sections .intro .ds_logo {
  color: #F1F8F9;
  grid-area: 2 / 1 / 2 / 8;
  height: 28vh;
  padding: 2rem;
  padding-top: 17rem;
  justify-self: center;
}

/*
.sections .intro .intro_img1 {
  /*align-self: end;*/
/*  grid-area: 3 / 7 / 5 / 7;
  justify-self: right;
  width: 17vw;
  height: 57vh;
  transform: translate(3vw);
  padding-top: 0rem;
}*/

/*
.sections .intro .intro_img2 {
  grid-area: 2 / 1 / 4 / 1;
  align-self: center;
}*/

.sections .intro .hero_text_content_cs1 {
  grid-area: 3 / 2 / 3 / 6;
  text-align: center;
}

.sections .intro .h2_intro {
  color: #F1F8F9;
  justify-self: center;
}

.sections .intro .p_intro {
  color: #F1F8F9;
  align-self: center;
}

/*
.sections .intro .btn1 {
  grid-area: 3 / 1 / 3 / 8;
  justify-self: center;
  height: 33%;
  width: 13vw;
  align-self: center;
  margin: 2rem;
}*/

.sections #stickyNavV2{
  grid-area: 2 / 1 / 2 / 8;
  background-color: #D2EDF4;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  align-self: start;
  height: 20vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
}

/* Change background on mouse-over
.sections .nav_wrapper a:hover{
  background: #ddd;
  color: black;
}
*/

/*
.nav_wrapper .disc_res{
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}

.nav_wrapper .info_arch{
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
}

.nav_wrapper .vis_des{
  grid-area: 1 / 3 / 2 / 4;
  align-self: center;
}

.nav_wrapper .proto_test{
  grid-area: 1 / 4 / 2 / 5;
  align-self: center;
}
*/
/*
******************************************************
BEGIN TEST SECTION FOR HIGHLIGHTING NAVBAR BASED ON SCROLL POSITION
includes index.js

Reference Code:

<nav>
  <ul id="mainNav">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#work">Work</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
<section id="home"><h2>Home</h2></section>
<section id="work" data-sr><h2>Work</h2></section>
<section id="about"><h2>About</h2></section>
<section id="contact"><h2>Contact</h2></section>

******************************************************

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #55443D;
  height: 40px;
  width: 100%;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: table;
  margin: 0 auto;
}

nav ul li {
  display: table-cell;
}

nav ul li a {
  padding: 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

******************************************************
END TEST SECTION
******************************************************
*/

/*
.sections #stickyNavV2{
  grid-area: 2 / 1 / 2 / 8;
  background-color: #D2EDF4;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  align-self: start;
  height: 20vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
}
*/

nav {
/*
  position: fixed;
  top: 0;
  left: 0;
*/
  grid-area: 2 / 1 / 2 / 8;
  background-color: #D2EDF4;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  align-self: start;
  height: 20vh;
  text-align: center;

  background: #55443D;
/*  height: 40px; */
  width: 100%;
  z-index: 10;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: table;
  margin: 0 auto;
}
nav ul li {
  display: table-cell;
}
nav ul li a {
  padding: 10px 20px;
  display: block;
  color: #274042;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #F38A8A;
  background: #ddd;
/*  color: black; */

}

nav ul .active a {
  color: #F38A8A;
  border-bottom: 3px solid #F38A8A;
}

/* Style the navbar */
#sticky_nav {
  overflow: hidden;
  /* background-color: #333; */
  z-index: 10;
}

/* Navbar links */
#sticky_nav a {
  float: left;
  display: block;
  color: #274042;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 60px;
}

/*---------- DISCOVERY & RESEARCH --------------------------------------*/
.sections .daandr{
  grid-area: 3 / 1 / 3 / 13;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto repeat(9,auto);
  grid-row-gap: 10rem;
}

.daandr_title{
  padding: 0 0 2rem 0;
}
.sections .duration {
  grid-area: 2 / 3 / 2 / 5;
}

.sections .role {
  grid-area: 2 / 6 / 2 / 8;
}

.daandr .daandr_tools {
  column-count: 2;
  column-gap: 1rem;
}

.sections .tools {
  grid-area: 2 / 9 / 2 / 12;
}

.sections .problem {
  grid-area: 3 / 3 / 3 / 6;
}

.sections .solution {
  grid-area: 3 / 8 / 3 / 11;
}

.sections .comp_ana {
  grid-area: 4 / 3 / 4 / 6;
}

.daandr_pinterest {
  width: auto;
  height: 13vh;
  padding: 1rem 0 1rem 1rem;
}

.daandr_box {
  width: auto;
  height: 13vh;
  padding: 1rem 0 1rem 1rem;
}

.daandr_dropbox {
  width: auto;
  height: 13vh;
  padding: 1rem 0 1rem 1rem;
}

.daandr .quad_graph {
  grid-area: 4 / 8 / 4 / 11;
}

/* .daandr .italic_quotes_1 {
  grid-area: 5 / 8 / 5 / 11;
} */

.daandr .cir1{
  grid-area: 4 / 9 / 6 / 12;
  align-self: end;
  justify-self: end;
  z-index: 1;
/*  width: 27vw;
  height: 70vh; */
  width: 100%;
  height: auto;
  padding-top: 100%;
}

.daandr .quotes {
  /*grid-area: 5 / 8 / 5 / 11;*/
  align-self: start;
  justify-self: start;
  font-style: italic;
  z-index: 2
}

.q1 {
  grid-area: 5 / 8 / 5 / 11;
}

.daandr .user_research {
  grid-area: 6 / 3 / 6 / 6;
  /*display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
  grid-template-rows: auto auto auto;
  grid-row-gap: 2rem;*/
}

.daandr .usr_resrch_wrapper {
  grid-area: 6 / 8 / 6 / 11;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
  grid-template-rows: auto auto auto;
  grid-row-gap: 2rem;
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_1{
  grid-area: 1 / 1 / 1 / 1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_1 h5{
  grid-area: 1 / 1 / 1 / 1;
  align-self: center;
  z-index: 2;
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_1 .cir2{
  grid-area: 1 / 1 / 1 / 1;
  align-self: center;
  justify-self: left;
  transform: skew(0deg) translateX(-1vw) translateY(0.5vw);
  z-index: 1
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_1 p{
  grid-area: 1 / 2 / 1 / 2;
  align-self: center;
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_2{
  grid-area: 2 / 1 / 2 / 1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_2 h5{
  grid-area: 1 / 1 / 1 / 1;
  align-self: center;
  z-index: 2;
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_2 .cir2{
  grid-area: 1 / 1 / 1 / 1;
  align-self: center;
  justify-self: left;
  transform: skew(0deg) translateX(-1vw) translateY(0.5vw);
  z-index: 1
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_2 p{
  grid-area: 1 / 2 / 1 / 2;
  align-self: center;
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_3{
  grid-area: 3 / 1 / 3 / 1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_3 h5{
  grid-area: 1 / 1 / 1 / 1;
  align-self: center;
  z-index: 2;
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_3 .cir2{
  grid-area: 1 / 1 / 1 / 1;
  align-self: center;
  justify-self: left;
  transform: skew(0deg) translateX(-1vw) translateY(0.5vw);
  z-index: 1;
}

.daandr .usr_resrch_wrapper .usr_resrch_nmbrs_3 p{
  grid-area: 1 / 2 / 1 / 2;
  align-self: center;
}

.quote_wrapper{
  grid-area: 7 / 3 / 7 / 6;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  font-style: italic;
  z-index: 2;
}

.daandr .cir3{
  grid-area: 7 / 1 / 7 / 4;
  align-self: end;
  justify-self: end;
  z-index: 1;
  width: 27vw;
  height: 70vh;
}

.daandr .user_persona_wrapper {
  grid-area: 8 / 3 / 8 / 6;
}

.q2 {
  grid-area: 8 / 8 / 8 / 11;
}

.cir4 {
  grid-area: 8 / 8 / 8 / 11;
  width: 100%;
  height: auto;
  padding-top: 100%;
}

/*--------------INFORMATION ARCHITECTURE ----------*/

.sections .infrarch{
  grid-area: 4 / 1 / 4 / 13;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(8,auto);
  grid-row-gap: 10rem;
}

.infrarch .user_stories {
  grid-area: 2 / 3 / 2 / 6;
}

.infrarch .para5 {
  grid-area: 3 / 1 / 3 / 12;
  transform: skew(-15deg) translate(-1vw);
  background-color: #F7D1AC;
  z-index: 1;
  height: 98vh;
  width: auto;
  opacity: .3;
}

.infrarch #user_stories_tbl {
  grid-area: 3 / 2 / 3 / 11;
  font-family: 'Montserrat',sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
}

td {
  font-family: 'Montserrat',sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 1.5rem;
  padding-right:3rem;
}

th {
  font-family: 'Montserrat',sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 2rem;
  justify-self: left;
}

.infrarch .user_flows {
  grid-area: 4 / 3 / 4 / 6;
}

.user_flows_img {
  grid-area: 5 / 1 / 5 / 13;
}

.wireframes {
  grid-area: 6 / 3 / 6 / 6;
}

.q3 {
  grid-area: 6 / 8 / 6 / 11;
  z-index: 2;
}

.cir5 {
  grid-area: 6 / 8 / 6 / 13;
  width: 100%;
  height: auto;
  padding-top: 100%;
}

.wireframe_1 {
  grid-area: 7 / 3 / 7 / 5;
}

.wireframe_2 {
  grid-area: 7 / 6 / 7 / 8;
}

.wireframe_3 {
  grid-area: 7 / 9 / 7 / 11;
}

.wireframe_4 {
  grid-area: 8 / 3 / 8 / 5;
}

.wireframe_5 {
  grid-area: 8 / 6 / 8 / 8;
}

.wireframe_6 {
  grid-area: 8 / 9 / 8 / 11;
  padding-bottom: 10rem;
}

figure {
  float: right;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
/*  border: thin silver solid; */
  margin: 0.5em;
  padding: 0.5em;
}

.sections .branding{
  grid-area: 4 / 1 / 4 / 13;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto repeat(20,auto);
  grid-row-gap: 10rem;
}

.branding .summary{
  grid-area: 2 / 3 / 2 / 6;
}

.branding .q4 {
  grid-area: 3 / 3 / 3 / 6;
  z-index: 2;
}

.branding .cir6 {
  grid-area: 3 / 1 / 3 / 6;
  width: 100%;
  height: auto;
  padding-top: 100%;
}

.branding .mood_board {
  grid-area: 2 / 8 / 4 / 11;
}

.branding .color_palette_wrapper {
  grid-area: 4 / 3 / 4 / 11;
  display: grid;
  grid-template-rows: repeat(8,auto);
  grid-template-columns: repeat(11,1fr);
}

.rectangle {
  height: 10vh;
}

.color_palette_wrapper .rect1_wrapper {
  grid-area: 2 / 1 / 2 / 5;
}

.color_p {
  grid-area: 1 / 1 / 1 / 4;
}
.rect1 {
  /*grid-area: 4 / 1 / 4 / 5;*/
  background-color: #CFE2EA;
}

.color_palette_wrapper .rect2_wrapper {
  grid-area: 3 / 1 / 3 / 1;
}

.rect2 {
  background-color: #D5FDFC;
}

.color_palette_wrapper .rect3_wrapper {
  grid-area: 3 / 2 / 3 / 2;
}

.rect3 {
  background-color: #B3E2F3;
}

.color_palette_wrapper .rect4_wrapper {
  grid-area: 3 / 3;
}

.rect4 {
  background-color: #38687D;
}

.color_palette_wrapper .rect5_wrapper {
  grid-area: 3 / 4;
}

.rect5 {
  background-color: #BBD6E1;
}

.color_palette_wrapper .rect6_wrapper {
  grid-area: 2 / 7 / 4 / 9;
}

.rect6 {
  background-color: #E6F0F5;
}

.color_palette_wrapper .rect7_wrapper {
  grid-area: 2 / 10 / 3 / 12;
}

.rect7 {
  background-color: #0B0E27;
}

.color_palette_wrapper .rect8_wrapper {
  grid-area: 3 / 7 / 3 / 8;
}

.rect8 {
  background-color: #09BC8A;
  margin-top: 1rem;
}

.color_palette_wrapper .rect9_wrapper {
  grid-area: 3 / 10 / 3 / 11;
}

.rect9 {
  background-color: #F46036;
  margin-top: 1rem;
}

.sections .testandproto{
  grid-area: 5 / 1 / 5 / 13;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto repeat(8,auto);
  grid-row-gap: 10rem;
}

.sections .lessons{
  grid-area: 6 / 1 / 6 / 13;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto repeat(8,auto);
  grid-row-gap: 10rem;
}

/* section headers */

.sections .section_header{
  background-color: #F7D1AC;
  /*padding: 2rem;*/
  grid-area: 1 / 1 / 1 / 13;
  height: 20vh;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
}

.sections .section_h2 {
  /*align-self: center;*/
  grid-area: 1 / 3 / 1 / 4;
  justify-self: right;
  margin-right: 2vw;
  width: max-content;
  color: #558B91;
  z-index: 1;
}

.section_parallelogram {
  align-self: bottom;
  height: 100%;
  transform: skew(-15deg) translateX(-9vw);
  background-color: #F9E1CA;
  grid-area: 1 / 1 / 1 / 3;
}

.sections .branding{
  grid-area: 5 / 1 / 5 / 13;
}

.sections .testandproto{
  grid-area: 6 / 1 / 6 / 13;
}

.sections .lessons{
  grid-area: 7 / 1 / 7 / 13;
}


/* ************************************************************************* */
/* Define attributes to apply to the footer                                  */
/* ************************************************************************* */
/*.container .footer_distributed{
  /* Place the footer in the 3rd row o  f 3 rows on the main page */
/*  grid-area: 3 / 1 / 3 / 6;
}

.footer-distributed{
    grid-area: 4 / 1 / 4 / 6;
    display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr 1fr 1fr;

    background-color: #EF9179;

    width: 100%;
    height: 460px;
    }

.parallelogram {
  align-self: bottom;
  height: auto;
  transform: skew(-15deg) translateX(-9vw);
  background-color: #F7D1AC;
    grid-area: 4 / 1 / 1 / 4;
}

.footer-distributed svg {
  max-width: 300%;
  height: auto;
    transform: skew(15deg) translateX(-9vw);
/*  grid-area: 4 / 1 / 1 / 4; */
}

/*.footer-distributed h1{
    font: bold 36px 'Playfair Display';
    color: #274042;
    margin: 0 0 10px;
}

.footer-distributed .footer-company-name{
    font-family: 'Molengo', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 10px;
    grid-area: 3 / 5 / 3 / 5;
    justify-self: end;
    align-self: end;
}

.footer-distributed .footer-icons{
    margin-top: 40px;
    grid-area: 3 / 4 / 3 / 5;
    align-self: end;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #558B91;
    border-radius: 2px;

    font-size: 20px;
    color: #EF9179;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* The contact form */

/*.footer-distributed form{
    display: inline-block;
    grid-area: 2 / 4 / 3 / 5;
}

.footer-distributed form input,
.footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #F1F8F9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font-family: 'Molengo', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;

    width: 400px;
    padding: 8px;
}

.footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
}


.footer-distributed form input{
    /* height: 55px; */
  /*  margin-bottom: 15px;
}

.footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button{
    border-radius: 3px;
    background-color:  #F7B05B;
    color: #274042;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: left;
}

/* If you don't want the footer to be responsive, remove these media queries */
/*@media screen and (min-width: 768px) {
  .container{
    width: 70rem;
  }
}

@media screen and (min-width: 1000px) {
  .container{
    width: 98rem;
  }
}

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
        margin: 10px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea{
        width: 250px;
    }

    .footer-distributed form button{
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed{
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left{
        margin-bottom: 40px;
    }

    .footer-distributed form{
        margin-top: 30px;
    }

    .footer-distributed form{
        display: block;
    }

    .footer-distributed form button{
        float: none;
    }
}

/* Save this stuff for possible use */
/* Layout the page-level parallelogram spanning across the header and main body */
/*.container .parallelogram-para1{
/*  align-self: bottom; */
/*  height: 640px; /* this may need to change to auto to be dynamic */
  /*transform: skew(-15deg) translateX(-15vw);
  background: #91bdae;
    grid-area: 1 / 1 / 3 / 6;
}

.container img{
  height: 215px;
  transform: skew(0deg);
  grid-area: 2 / 2 / 2 / 2;
}

.container .body_distributed{
  grid-area: 3 / 2 / 3 / 4;
}
