/* Perform Universal CSS reset*/
* {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
    }

/* Set default font size */
html {
  font-size: 10px;
}

/* Set default body parameters */
body {
  background-color: F1F8F9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #101A1B;
}

/* Set default paragraph parameters */
p {
  background-color: F1F8F9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #101A1B;
  font-size: 1.6rem;
  line-height: 1.3;
  margin-top: .5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: 50vh;
}

/* Set default h1 parameters */
h1 {
  font-size: 8rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1;
  margin: auto;
}

h1 span {
  font-weight: 700;
}

/* Set default h2 parameters */
h2 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 2rem;
}

/* Set default h3 parameters */
h3 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

/* Set default h4 parameters */
h4 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 2rem;
}

/* Set default h5 parameters */
h5 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

/* Set default h6 parameters */
h6 {
  font-size: 3rem;
  font-family: 'Molengo', serif;
  font-weight: 400;
  line-height: 1;
  margin: auto;
}

/* Set default h7 parameters */
.h7 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 2rem;
}

/* Set default italic quotes parameters */
.italic_quotes {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 2rem;
}

li {
  font-size: 2rem;
  font-family: 'Molengo', serif;
  font-weight: 400;
  line-height: 1;
  margin: auto;
}

.button {
  background-color: #F7B05B;
  border: none;
  color: #274042;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

/*------ NAVIGATION -------*/
section.body_distributed {
  overflow-x: hidden;
  background-color: #F1F8F9;
}

section.About {
  background-color: #99CFD6;
  padding: 20rem 1rem;
}

section.recentwork {
  background-color: #6AADB5;
}

@media screen and (min-width: 768px) {
  .container{
    width: 70rem;
  }
}

@media screen and (min-width: 1000px) {
  .container{
    width: 98rem;
  }
}

/* End of stuff that may be needed */
/* Starting page layouts here */
/* ************************************************************************* */
/* main-distributed{} defines attributes that are applicable to the entire page */
/* ************************************************************************* */
.main{
  /* This grid may not be necessary */
  display: grid;
  /* Breaking the page into one column as there's no common column breakpoints between sections */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* Breaking the page into eight rows: a header, six sections & a footer */
  grid-template-rows: 110px 1fr 1fr;
}

/* ************************************************************************* */
/* header-distributed{} defines attributes that are applicable to the page header */
/* ************************************************************************* */
.main .header_distributed{
  /* Place the header in the 1st row on the page */
  grid-area: 1 / 1 / 1 / 6;

  /* Create a sub-grid in the header */
  display: grid;
  /* Breaking the header into five columns */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* Breaking the header into one row */
  grid-template-rows: 1fr;
}

/* Place the header logo in the first cell of the header grid */
.header_distributed .logo_rose{
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 300%;
  height: 80px;
  grid-area: 1 / 1 / 1 / 1;
  transform: skew(0deg);
  align-self: center;
}

/* Format the header navigation links */
.header_distributed .gallery, .about{
  font-family: 'Molengo', sans-serif;
  font-size: 30px;
  color: #274042;
  max-width: 300%;
  height: auto;
  transform: skew(0deg);
  align-self: center;
}

/* Place Gallery link in fourth column of the only row in the header grid */
.header_distributed .gallery{
  grid-area: 1 / 4 / 1 / 4;
}

/* Place About link in fourth column of the only row in the header grid */
.header_distributed .about{
  grid-area: 1 / 5 / 1 / 5;
}

/* ************************************************************************* */
/* End header-distributed{}                                                  */
/* ************************************************************************* */

/* ************************************************************************* */
/* Define attributes to apply to all sections                                */
/* ************************************************************************* */
.main .sections{
  grid-area: 2 / 1 / 2 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sections .intro{
  grid-area: 1 / 1 / 1 / 12;
}

.sections .daandr{
  grid-area: 2 / 1 / 2 / 12;
}

.sections .infrarch{
  grid-area: 3 / 1 / 3 / 12;
}

.sections .branding{
  grid-area: 4 / 1 / 4 / 12;
}

.sections .testandproto{
  grid-area: 5 / 1 / 5 / 12;
}

.sections .lessons{
  grid-area: 6 / 1 / 6 / 12;
}

/* ************************************************************************* */
/* Define attributes to apply to the footer                                  */
/* ************************************************************************* */
.main .footer_distributed{
  /* Place the footer in the 3rd row o  f 3 rows on the main page */
  grid-area: 3 / 1 / 3 / 6;
}

.footer-distributed{
    grid-area: 4 / 1 / 4 / 6;
    display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr 1fr 1fr;

    background-color: #EF9179;

    width: 100%;
    height: 460px;
    }

.parallelogram {
  align-self: bottom;
  height: auto;
  transform: skew(-15deg) translateX(-9vw);
  background-color: #F7D1AC;
    grid-area: 4 / 1 / 1 / 4;
}

.footer-distributed svg {
  max-width: 300%;
  height: auto;
    transform: skew(15deg) translateX(-9vw);
/*  grid-area: 4 / 1 / 1 / 4; */
}

.footer-distributed h1{
    font: bold 36px 'Playfair Display';
    color: #274042;
    margin: 0 0 10px;
}

.footer-distributed .footer-company-name{
    font-family: 'Molengo', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 10px;
    grid-area: 3 / 5 / 3 / 5;
    justify-self: end;
    align-self: end;
}

.footer-distributed .footer-icons{
    margin-top: 40px;
    grid-area: 3 / 4 / 3 / 5;
    align-self: end;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #558B91;
    border-radius: 2px;

    font-size: 20px;
    color: #EF9179;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* The contact form */

.footer-distributed form{
    display: inline-block;
    grid-area: 2 / 4 / 3 / 5;
}

.footer-distributed form input,
.footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #F1F8F9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font-family: 'Molengo', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;

    width: 400px;
    padding: 8px;
}

.footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
}


.footer-distributed form input{
    /* height: 55px; */
    margin-bottom: 15px;
}

.footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button{
    border-radius: 3px;
    background-color:  #F7B05B;
    color: #274042;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: left;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media screen and (min-width: 768px) {
  .container{
    width: 70rem;
  }
}

@media screen and (min-width: 1000px) {
  .container{
    width: 98rem;
  }
}

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
        margin: 10px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea{
        width: 250px;
    }

    .footer-distributed form button{
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed{
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left{
        margin-bottom: 40px;
    }

    .footer-distributed form{
        margin-top: 30px;
    }

    .footer-distributed form{
        display: block;
    }

    .footer-distributed form button{
        float: none;
    }
}

/* Save this stuff for possible use */
/* Layout the page-level parallelogram spanning across the header and main body */
.main .parallelogram-para1{
/*  align-self: bottom; */
/*  height: 640px; /* this may need to change to auto to be dynamic */
  transform: skew(-15deg) translateX(-15vw);
  background: #91bdae;
    grid-area: 1 / 1 / 3 / 6;
}

.main img{
  height: 215px;
  transform: skew(0deg);
  grid-area: 2 / 2 / 2 / 2;
}

.main .body_distributed{
  grid-area: 3 / 2 / 3 / 4;
}
