.container/* Perform Universal CSS reset*/
/** {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
    }*/

/* Set default font size */
html {
  font-size: 10px;
}

/* Set default body parameters */
body {
  background-color: #F1F8F9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #101A1B;
}

/* Set default paragraph parameters */
p {
  background-color: F1F8F9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #101A1B;
  font-size: 1.6rem;
  line-height: 1.3;
  margin-top: .5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: 50vh;
}

/* Set default h1 parameters */
h1 {
  font-size: 8rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1;
  margin: auto;
}

h1 span {
  font-weight: 700;
}

/* Set default h2 parameters */
h2 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 2rem;
}

/* Set default h3 parameters */
h3 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

/* Set default h4 parameters */
h4 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 2rem;
}

/* Set default h5 parameters */
h5 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

/* Set default h6 parameters */
h6 {
  font-size: 3rem;
  font-family: 'Molengo', serif;
  font-weight: 400;
  line-height: 1;
  margin: auto;
}

/* Set default h7 parameters */
h7 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 2rem;
}

/* Set default italic quotes parameters */
.italic_quotes {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 2rem;
}

li {
  font-size: 2rem;
  font-family: 'Molengo', serif;
  font-weight: 400;
  line-height: 1;
  margin: auto;
}

.button {
  background-color: #F7B05B;
  border: none;
  color: #274042;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

/* ----- HERO -------------*/

.parallelogram {
  transform: skew(-15deg) translate(9vw);
  background-color: #F7D1AC;
  height: 100%;
  width: 100%;
  grid-area: 4 / 1 / 2 / 3 ;
}

.hero {
  display: grid;
  grid-template-columns: repeat(12, 100px);
  grid-template-rows: repeat(8,100px);
  padding: 0rem;
}

.para1 {
  transform: skew(-15deg) translate(0vw);
  background-color: #EF9179;
  grid-area: 7 / 12 / 1 / 5;
}

.para2 {
  transform: skew(-15deg) translate(-3vw);
  background-color: #558B91;
  grid-area: 8 / 4 / 4 / 11;
  align-self: end;
}

.para3 {
  transform: skew(-15deg) translate(-4vw);
  background-color: #F7D1AC;
  grid-area: 9 / 3 / 5 / 10;
  align-self: end;
}

.hero_text_2 {
  transform: skew(0deg);
  grid-area: 5 / 3 / 6 / 6;
  margin: 0px;
  align-self: end;
  margin-left: 40px;
}

.hero_text {
  transform: skew(0deg);
  grid-area: 6 / 3 / 8 / 11;
  margin: 0px;
  align-self: start;
  margin-left: 40px;
}

.hero_text_1 {
  transform: skew(0deg);
  grid-area: 7 / 3 / 9 / 10;
  margin: 0px;
  align-self: start;
  margin-left: 40px;
}

/*-------featured work-----*/


.featured_work {
  display: grid;
  grid-template-columns: repeat(12, 100px);
  grid-template-rows: repeat(10,100px);
  background-color: #6AADB5;
  padding: 3rem;
}

.case_study {
  grid-area: 8 / 8 / 8 / 11;
  max-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.featured {
  grid-area: 2 / 1 / 2 / 12;
  align-self: center;
  justify-self: center;
  font-size: 2.5rem;
}

.title {
  grid-area: 6 / 8 / 5 / 13;
  font-size: 7rem;
  align-self: end;
  margin: 0px;
  justify-self: left;
}

.body_text {
  grid-area: 6 / 8 / 7 / 14;
  max-width: 400px;
  align-self: start;
}

.roles {
  grid-area: 5 / 8 / 4 / 13;
  align-self: start;
  margin: 0px;
  align-self: end;
}

.para4 {
  transform: skew(-15deg) translate(9vw);
  background-color: #F7D1AC;
  height: 100%;
  width: 100%;
  grid-area: 9 / 1 / 4 / 5 ;
}


/*----- About me -----*/

.about_me_1 {
  grid-area: 8 / 8 / 8 / 11;
  max-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about_me {
  background-color: #99CFD6;
  display: grid;
  grid-template-columns: repeat(12, 100px);
  grid-template-rows: repeat(10,100px);
  padding: 3rem;
}

.title_1 {
  grid-area: 6 / 8 / 5 / 13;
  font-size: 7rem;
  align-self: end;
  margin: 0px;
  justify-self: left;
}

.content_1 {
  grid-area: 6 / 8 / 7 / 14;
  max-width: 400px;
  align-self: start;
}


/*------ NAVIGATION -------*/
section.body_distributed {
  overflow-x: hidden;
  background-color: #F1F8F9;
}

section.About {
  background-color: #99CFD6;
  padding: 20rem 1rem;
}

section.recentwork {
  background-color: #6AADB5;
}

@media screen and (min-width: 768px) {
  .container{
    width: 70rem;
  }
}

@media screen and (min-width: 1000px) {
  .container{
    width: 98rem;
  }
}

/* End of stuff that may be needed */
/* Starting page layouts here */
/* ************************************************************************* */
/* main-distributed{} defines attributes that are applicable to the entire page */
/* ************************************************************************* */
.container{
  /* This grid may not be necessary */
  display: grid;
  /* Breaking the page into one column as there's no common column breakpoints between sections */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* Breaking the page into eight rows: a header, six sections & a footer */
  grid-template-rows: 110px 1fr 1fr;
}

/* ************************************************************************* */
/* header-distributed{} defines attributes that are applicable to the page header */
/* ************************************************************************* */
/*.container .header_distributed{
  /* Place the header in the 1st row on the page */
  /*grid-area: 1 / 1 / 1 / 6;

  /* Create a sub-grid in the header */
  /*display: grid;
  /* Breaking the header into five columns */
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* Breaking the header into one row */
  /*grid-template-rows: 1fr;
}

/* Place the header logo in the first cell of the header grid */
/*.header_distributed .logo_rose{
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 300%;
  height: 80px;
  grid-area: 1 / 1 / 1 / 1;
  transform: skew(0deg);
  align-self: center;
}

/* Format the header navigation links */
/*.header_distributed .gallery, .about{
  font-family: 'Molengo', sans-serif;
  font-size: 30px;
  color: #274042;
  max-width: 300%;
  height: auto;
  transform: skew(0deg);
  align-self: center;
}

/* Place Gallery link in fourth column of the only row in the header grid */
/*.header_distributed .gallery{
  grid-area: 1 / 4 / 1 / 4;
}

/* Place About link in fourth column of the only row in the header grid */
/*.header_distributed .about{
  grid-area: 1 / 5 / 1 / 5;
}

/* ************************************************************************* */
/* End header-distributed{}                                                  */
/* ************************************************************************* */

/* ************************************************************************* */
/* Define attributes to apply to all sections                                */
/* ************************************************************************* */
.container .sections{
  grid-area: 2 / 1 / 2 / 7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
}

/* grid templates for each section */
.sections .intro{
  grid-area: 1 / 1 / 1 / 13;
  background-color: #558B91;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(5,1fr);
  height: 170vh;
  width: 100vw;
}

.sections .case_study_hero_img {
  grid-area: 4 / 1 / 4 / 8;
  justify-self: center;
}

.sections .ds_logo {
  color: #F1F8F9;
  grid-area: 1 / 1 / 1 / 8;
  height: 28vh;
  padding: 2rem;
  padding-top: 5rem;
  justify-self: center;
}

.sections .intro_img1 {
  grid-area: 2 / 7 / 2 / 7;
}

.sections .intro_img2 {
  grid-area: 2 / 1 / 2 / 1;
}

.sections .h2_intro {
  color: #F1F8F9;
  grid-area: 2 / 1 / 2 / 8;
  justify-self: center;
  margin-bottom: 1rem;
}

.sections .p_intro {
  grid-area: 2 / 3 / 2 / 6;
  background-color: #558B91;
  color: #F1F8F9;
  font-weight: 400;
  font-size: 3rem;
  align-self: center;
  margin-left: -2rem;
  max-height: 15vw;
  margin-top: 5rem;
}

.btn1 {
  grid-area: 3 / 1 / 3 / 8;
  justify-self: center;
  height: 33%;
  width: 13vw;
  align-self: center;
  margin: 2rem;
}

.sections .nav_wrapper{
  grid-area: 5 / 1 / 5 / 8;
  background-color: #D2EDF4;
  justify-content: space-between;
  height: 15vh;
  align-self: end;
}

.nav_wrapper .disc_res, .info_arch, .vis_des, .proto_test {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #274042;
  max-width: 300%;
  align-self: center;
  text-decoration-style: none;
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  grid-area: 5 / 1 / 5 / 8;
}

/*---------- DISCOVERY & RESEARCH --------------------------------------*/
.sections .daandr{
  grid-area: 2 / 1 / 2 / 13;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 106px repeat(9,1fr);
}

.sections .duration {
  grid-area: 2 / 1 / 2 / 1;
}

.sections .roles {
  grid-area: 2 / 2 / 2 / 2;
}

.sections .tools {
  grid-area: 2 / 3 / 2 / 3;
}

.sections .problem {
  grid-area: 3 / 1 / 3 / 1;
}

.sections .solution {
  grid-area: 3 / 3 / 3 / 3;
}

.sections .comp_ana {
  grid-area: 4 / 1 / 4 / 1;
}

.sections .quad_graph {
  grid-area: 4 / 3 / 4 / 3;
}

.sections .infrarch{
  grid-area: 3 / 1 / 3 / 13;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(8,1fr);
}

.sections .branding{
  grid-area: 4 / 1 / 4 / 13;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(8,1fr);
}

.sections .testandproto{
  grid-area: 5 / 1 / 5 / 13;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(8,1fr);
}

.sections .lessons{
  grid-area: 6 / 1 / 6 / 13;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(8,1fr);
}

/* section headers */

.sections .section_header{
  background-color: #F7D1AC;
  /*padding: 2rem;*/
  grid-area: 1 / 1 / 1 / 13;
  height: 15vh;
  width: 99vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
}

.sections .section_h2 {
  /*align-self: center;*/
  grid-area: 1 / 3 / 1 / 4;
  justify-self: right;
  margin-right: 2vw;
  width: max-content;
  color: #558B91;
  z-index: 1;
}

.section_parallelogram {
  align-self: bottom;
  height: 100%;
  transform: skew(-15deg) translateX(-9vw);
  background-color: #F9E1CA;
  grid-area: 1 / 1 / 1 / 3;
}

.sections .infrarch{
  grid-area: 3 / 1 / 3 / 13;
}

.sections .branding{
  grid-area: 4 / 1 / 4 / 13;
}

.sections .testandproto{
  grid-area: 5 / 1 / 5 / 13;
}

.sections .lessons{
  grid-area: 6 / 1 / 6 / 13;
}


/* ************************************************************************* */
/* Define attributes to apply to the footer                                  */
/* ************************************************************************* */
/*.container .footer_distributed{
  /* Place the footer in the 3rd row o  f 3 rows on the main page */
/*  grid-area: 3 / 1 / 3 / 6;
}

.footer-distributed{
    grid-area: 4 / 1 / 4 / 6;
    display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr 1fr 1fr;

    background-color: #EF9179;

    width: 100%;
    height: 460px;
    }

.parallelogram {
  align-self: bottom;
  height: auto;
  transform: skew(-15deg) translateX(-9vw);
  background-color: #F7D1AC;
    grid-area: 4 / 1 / 1 / 4;
}

.footer-distributed svg {
  max-width: 300%;
  height: auto;
    transform: skew(15deg) translateX(-9vw);
/*  grid-area: 4 / 1 / 1 / 4; */
}

/*.footer-distributed h1{
    font: bold 36px 'Playfair Display';
    color: #274042;
    margin: 0 0 10px;
}

.footer-distributed .footer-company-name{
    font-family: 'Molengo', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 10px;
    grid-area: 3 / 5 / 3 / 5;
    justify-self: end;
    align-self: end;
}

.footer-distributed .footer-icons{
    margin-top: 40px;
    grid-area: 3 / 4 / 3 / 5;
    align-self: end;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #558B91;
    border-radius: 2px;

    font-size: 20px;
    color: #EF9179;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* The contact form */

/*.footer-distributed form{
    display: inline-block;
    grid-area: 2 / 4 / 3 / 5;
}

.footer-distributed form input,
.footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #F1F8F9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font-family: 'Molengo', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;

    width: 400px;
    padding: 8px;
}

.footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
}


.footer-distributed form input{
    /* height: 55px; */
  /*  margin-bottom: 15px;
}

.footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button{
    border-radius: 3px;
    background-color:  #F7B05B;
    color: #274042;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: left;
}

/* If you don't want the footer to be responsive, remove these media queries */
/*@media screen and (min-width: 768px) {
  .container{
    width: 70rem;
  }
}

@media screen and (min-width: 1000px) {
  .container{
    width: 98rem;
  }
}

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
        margin: 10px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea{
        width: 250px;
    }

    .footer-distributed form button{
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed{
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left{
        margin-bottom: 40px;
    }

    .footer-distributed form{
        margin-top: 30px;
    }

    .footer-distributed form{
        display: block;
    }

    .footer-distributed form button{
        float: none;
    }
}

/* Save this stuff for possible use */
/* Layout the page-level parallelogram spanning across the header and main body */
/*.container .parallelogram-para1{
/*  align-self: bottom; */
/*  height: 640px; /* this may need to change to auto to be dynamic */
  /*transform: skew(-15deg) translateX(-15vw);
  background: #91bdae;
    grid-area: 1 / 1 / 3 / 6;
}

.container img{
  height: 215px;
  transform: skew(0deg);
  grid-area: 2 / 2 / 2 / 2;
}

.container .body_distributed{
  grid-area: 3 / 2 / 3 / 4;
}
